body{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #434455;
    background-color:#FFFFFF;
}

/* header */
.header {
text-decoration: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}

.header-list-navigation {
    
}


.header-item-navigation {
    
}



.header-adress {
    font-style: normal;
}

.header-link {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.header-link:active {
    color: inherit;
}

.header-list-contacts {}

.header-item-contacts {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-link-email {

}

.header-link-email:hover {
    color: #404bbf
}

.header-link-number {
        
}

.header-link-number:hover {
    color: #404bbf
}

/* -- */

/* Effective Solutions for Your Business */
.hero-image {
background-color: #2e2f42;
}

.hero-image-titel {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
}

.hero-image-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.hero-image-btn:hover,
.hero-image-btn:focus {
    background-color: #404BBF
}



/* -- */

/* Section 1 */
.section-1-title {
    display: none;
}

.section-1 {}

.section-1-list {}

.section-1-item {}

.section-1-subtitel {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-1-text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* -- */

/* Section 2 */
.section-our-team {
    background-color: #F4F4FD;
}

.section-2-titel {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.section-2-list {}

.section-2-item {
    background: #fff
}

.section-2-subtitel {
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-2-text {
        
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-2-img {}
/* -- */



/* Section 3 */
.section-3 {}

.section-3-titel {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-3-list {}

.section-3-item {}

.section-3-subtitel {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-3-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-3-img {}

/* -- */

/* Footer */
.footer {
    background-color: #2e2f42;
}

.footer-link {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-1 {
color: #f4f4fd;
}

.footer-text {
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* -- */